body {
  /* background-image: url("Wikimedium_Post.jpg"); */
  background-repeat: no-repeat;
  background-position: center top;
  font-family: 'PT Sans Caption', sans-serif;

}
h1, h2, h3, h4, p, ol, ul, blockquote {
  width: 700px;
  margin: auto;
  color: black;
}


h1, h2, h3, h4 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;

}

h1 {
  font-size: 40px;
  line-height: 46px;
  margin-top: 50px;
}

h1 + p {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.4);
  margin-top:14px;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 34px;
  margin-top: 30px;
}

img {
  width: 700px;
  display: block;
  margin: auto;
}

img {
  margin-top: 80px;

}

img + p {
  margin-top: 78px;
}

h1 + h2 {
  margin-top: 43px;
}


h2 {
font-size: 32px;
line-height: 36px;
margin-top: 79px;
}

h2 + p {
  margin-top: 7px;
}

h2 + p + h2 {
    margin-top: 43px;
}

p + p + h2 {
  margin-top: 35px;
  font-size: 28px;
  line-height: 34px;
}

 blockquote {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 34px;
  margin-top: 29px;
  margin-bottom: 29px;
  position: relative;
 }
 blockquote::before {
   content: "";
   display: block;
   position: absolute;
   width: 3px;
   height: 100%;
   background: black;
   margin-left: -20px;

 }

 blockquote + p + h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 28px;
  line-height: 34px;
   margin-top: 35px;
 }

 h3 {
font-family: 'PT Sans Caption', sans-serif;
font-size: 24px;
line-height: 30px;
margin-top: 30px;
 }

h3 + p {
  margin-top: 7px;
}

ul {
  font-family: 'PT Sans', sans-serif;
  margin-top: 29px;
  overflow: visible;
}

li {
width: 670px;
font-size: 22px;
line-height: 34px;
margin-top: 17px;
margin-left: 30px;
overflow: visible;
}

blockquote + h2 {
  margin-top: 43px;
}

h2 + h3 {
  margin-top: 37px;
  font-size: 28px;
  line-height: 34px;
}
